* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #2c3e50;
    color: white;
}

.navbar a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 80vh;
    background: url('image/villa1.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content h2 {
    font-size: 40px;
}

.btn {
    background: #27ae60;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

/* SEARCH BAR */
.search {
    background: white;
    padding: 20px;
    margin-top: -40px;
    text-align: center;
}

.search input {
    padding: 10px;
    width: 300px;
}

.search button {
    padding: 10px;
    background: blue;
    color: white;
}

/* GALLERY */
.gallery {
    padding: 50px;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.images img:hover {
    transform: scale(1.05);
}

/* CONTACT */
.contact {
    padding: 40px;
    background: #ecf0f1;
    text-align: center;
}

/* FOOTER */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero h2 {
        font-size: 28px;
    }

    .images img {
        width: 90%;
    }
}

.info {
    padding: 40px;
    text-align: center;
    background: #f9f9f9;
}

.fasilitas {
    padding: 50px;
    text-align: center;
}

.fasilitas-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.fasilitas-list div {
    background: #27ae60;
    color: white;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.fasilitas-list div:hover {
    transform: scale(1.05);
}

.fasilitas-list div {
    background: #27ae60;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
}

.harga {
    padding: 40px;
    background: #f4f4f4;
    text-align: center;
}

.lokasi {
    padding: 40px;
    text-align: center;
}

.villa-list {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 300px;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 15px;
}

.card img {
    width: 100%;
}
